#admin_menu_box
{
    #admin_menu
    {
        li
        {
            #delete_all_btn
            {
                background-color: transparent;
                border: none;
            }
            a, #delete_all_btn
            {
                color: $admin_menu_items_color;
                &:hover
                {
                    color: $admin_menu_items_color_hov;
                }
            }
        } 
    }
}

#message_area
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}

#view_space
{
    align-self: flex-start;
    max-height: calc($view_space_height);
    overflow-y: auto;
    table
    {
        tbody
        {
            tr
            {
                td
                {
                    .actions_group
                    {
                        .action
                        {
                            // display: inline-flex;
                            // justify-content: center;
                            // align-items: center;
                            color: $action_icon_color;
                            padding: 5px;
                            border: 2px solid $action_icon_color;
                            background-color: transparent;
                            border-radius: 5px;
                            &:hover
                            {
                                color: $action_icon_color_hov;
                                border-color: $action_icon_color_hov;
                            }
                        } 
                    }
                }

            }
        }
    }
}

.img_box
{
    max-width: 50%;
    border: 3px solid black;
    img
    {
        width: 100%;
        object-fit: contain;
    } 
}

.thumb
{
    width: 5rem;
    aspect-ratio: 1;
    border: 3px solid black;
    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    } 
}

.thumb_form
{
    width: 11rem;
    aspect-ratio: 1;
    border: 3px solid black;
    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    } 
}

.form_buttons
{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.tech_viewer
{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
