$admin_menu_items_color     : white;
$admin_menu_items_color_hov : yellowgreen;

$action_icon_color          : lightgray;
$action_icon_color_hov      : blue;

// $back_end_header_height     : 8vh;
$back_end_main_height       : 80vh;
$view_space_height          : 70vh;
